@model Golestan.Models.Takes

<h2>جزئیات درس: @Model.sections.courses.Title</h2>
<p>استاد: @Model.sections.teaches.instructors.User.First_name</p>
<p>ساعت شروع و پایان: @Model.sections.time_slots.Start_Time - @Model.sections.time_slots.End_Time</p>
<p>کلاس: @Model.sections.classrooms.Id</p>
<p>نمره شما: @Model.Grade</p>
